@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

button {
	background: none;
	border: 0;
}

.board {
	width: 900px;	
	margin: 70px auto;
    padding: 25px;
}

.boardlist {
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 2px solid #71da65;
}

.listtitle li  {
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
	color: #646464;
}

.boardoption {
	margin-bottom: 10px;
	text-align: right;
}

.boardoption select {
	width: 80px;
	height: 30px;
	border: 1px solid #dadada;
	border-radius: 10px;
	outline: 0;
}

.listheader {
	border: 0;
	background: #71da65;
	border-radius: 5px;
	line-height: 30px;
	color: white;
	margin: 0;
	
}

.boardlist ul li {
	display: inline-block;
	width: 7%;
}

.boardlist ul .td1 {
	width: 45%;
}

.boardlist .tr .td1 {
	text-align: left;
}

.boardlist .tr .td1 a {
	text-decoration: none;
	color: inherit;
}

.boardlist ul .td2 {
	width: 15%;
}

.boardlist .tr {
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid #dadada;
}

.replyCnt {
	font-weight: ;
    color: #71da65;
}

.listfooter {
	margin: 15px;
}

.listfooter select, input {
	height: 30px;
	border-radius: 5px;
	outline: 0;
	border: 1px solid #dadada;
    vertical-align: middle;
}

.article {
	padding: 25px;
	margin-bottom: 30px;
	border: 1px solid #dadada;
	border-radius: 10px;
	min-height: 180px;
}

.articletitle {
	text-align: left;
	font-size: 26px;
	font-weight: bold;
	border-bottom: 2px solid #71da65;
	color: #646464;
	margin: 0;
}

.articletitle li {
	display: inline-block;
}

.articletitle .boardlike {
	float: right;
}

.boardlikebtn, .boardunlikebtn {
	background: none;
	border:0;
	font-size:30px;
}

.unlike {
	color:#a2a2a2;
}

.like {
	color:#ff3535;
	font-weight: 600;
}

.article .tr {
	border-bottom: 1px solid #dadada;
	line-height: 25px;
	padding: 5px;
	text-align: right;
	margin: 0;
}


.article .tr li {
	display: inline-block;
}

.articlecontent {
	border-bottom: 1px solid #dadada;
}

.articlecontent ul {
	padding: 15px;
	margin: 15px;
}

.articlebtn {
	text-align: right;
	margin-top: 15px;
}

.comment {
	padding-bottom: 10px;
}

.commentLayout textarea {
	padding: 10px;
	resize: none;
	outline: 0;
	border: 1px solid #dadada;
	border-radius: 10px;
    vertical-align: middle;
}

.commenttitle {
	text-align: left;
}

.commentcount {
	font-size: 30px;
	color: #71da65;
	padding-left: 5px;
}

.commentinput li .mybtn2 {
	height: 80px;
	width: 85px;
	float: right;
}

.commentlist {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #dadada;
	padding-bottom: 20px;
	min-height: 60px;
}

.replylist {
	margin-left: 20px;
}
.profile {
	height: 30px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
} 

.profile ul li {
	display: inline-block;
	font-size: 15px;
}

.profile ul li p {
	font-weight: bold;
}

.profile ul li button {
	border: none;
}

.profile .replylikebtn, .replyunlikebtn {
	border: 0;
    background: none;
}

.commentwrap {
	display: inline-block;
	margin-left: 15px;
	max-width: 700px;
    word-break: break-all;
}

.commentwrap textarea {
	height: 30px;
	width: 500px;
	resize: none;
	border: 1px solid #dadada;
	border-radius: 10px;
	padding: 10px;
}

.commentbtn {
	display: inline-block;
	float: right;
}

.reply {
	padding-top: 20px;
	display: none;
}

.replyinput ul li {
	margin: 10px;
}

.replyinput .mybtn2 {
	height: 65px;
	width: 65px;
}

.replyinput textarea {
	resize: none;
	height: 45px;
	width: 85%;
	vertical-align: middle;
	border: 1px solid #dadada;
	border-radius: 10px;
	padding: 10px;
}

.answerReplylist {
	margin-bottom: 10px;
}

.createdtitle {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}

.created {
	text-align: center;
}

.tr li {
	display: inline-block;
}

.created .tr select {
	width: 100px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #dadada;
	padding-left: 20px;
}

.created .tr .td input {
	width: 750px;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #dadada;	
	padding-left: 10px;
}

.created .tr .td textarea {
	padding: 10px;
	resize: none;
	outline: 0;
	border: 1px solid #dadada;
	border-radius: 10px;
	margin: 10px;
}

.fleamarket {
	display: inline-block;
	width: 250px;
	margin: 0px 10px 20px 10px;
	text-align: left;
	font-size: 16px;
	float: left;
	padding: 15px;
	max-height: 295px;
}

.fleamarket ul li {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.fleaLayout:after {
	content:"";
	clear: both;
	display: block;
}

.fleamarket-img {
	margin: 5px;
	padding: 5px;
	text-align: center;
	height: 200px;
    overflow: hidden;
    position: relative;
}

.listimg-cover {
	height: 200px;
    position: absolute;
    background: #6f6d6db0;
    width: 230px;
    top: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.fleamarket-img img {
	width: 100%;
	height: 100%;
    border-radius: 10px;
}

.fleaprice , .fleabtn {
	justify-content: space-between;
	display: flex;
}

.fleaprice .far {
	color: #a2a2a2;
	font-size: 14px;
}

.flea-articleimg {
	border: 1px solid #dadada;
	border-radius: 10px;
	width: 500px;
	height: 350px;
    margin: 5px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: relative;
}

.img-cover {
	height: 350px;
    position: absolute;
    background: #6f6d6db0;
    width: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.flea-articletop:after {
	content:"";
	display: block;
	clear: both;
}

.flea-articleimg img {
	width: 100%;
}

.flea-article {
	width: 900px;
	margin: 10px auto;
}

.flea-title {
	text-align: left;
	width: 300px;
	float: left;
	margin: 45px;
}

.flea-title .title {
	font-size: 30px;
	font-weight: bold;
}

.flea-title .price {
	font-weight: bold;
	font-size: 35px;
	color: #71da65;
}

.flea-title ul li {
	display: inline-block;
	vertical-align: middle;
}

.flea-title .far {
	color: #a2a2a2;
}

.dealType {
	font-size: 20px;
	font-weight: bold;
	color: #6b6b6b;
}

.dealState, .dealWay {
	background: #c5c5c5;
	color: white;
	border-radius: 5px;
	padding: 3px 6px;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0px;
}

.dealinfo {
	justify-content: space-between;
	display: flex;
	margin-top: 5px;
	font-size: 14px;
}

.dealuser {
	border-top: 1px solid #dadada;
	font-size: 16px;
	margin-top: 40px;
	padding-top: 15px;
	text-align: right;
}

.flea-user {
	color: #a2a2a2;
}

.flea-user .fas {
	color: #ffc107;
}

.flea-content {
	min-height: 200px;
	padding: 20px;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	line-height: 20px;
	display: flex;
    align-items: center;
}

.fleaarticlebtn {
	margin: 15px;
	display: flex;
	justify-content: space-between;
}

.fleagoodstitle {
	font-size: 20px;
	font-weight: bold;
	color: #a2a2a2;
	margin-bottom: 20px;
}

.fleausergoods {
	width: 650px;
	margin: 10px auto;
	display: inline-block;
	border: 1px solid #dadada;
	border-radius: 10px; 
	padding-top: 20px;
	margin-bottom: 30px;
}

.fleagoods {
	display: inline-block;
	margin: 10px;
}

.fleagoodsimg {
	width: 130px;
	height: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.fleagoodsinfo {
	text-align: left;
	font-size: 14px;
	margin: 10px;
}

.fleagoodsinfo ul li {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
	width: 120px;
}

.comtable select {
	outline: 0;
	height: 30px;
	line-height: 30px;
	width: 80px;
	border: 1px solid #dadada;
	border-radius: 5px;
}

.comtable tr {
	border-bottom: 1px solid #dadada;
	padding: 5px;
	height: 50px;
}

.dealTypebtn {
	margin: 5px;
    padding: 0 20px;    
    border: 1px solid #ddd;
    color: #666;
    border-radius: 45px;
    background-color: #fff;
    height: 35px;
    font-size: 13px;
    line-height: 33px;    
    font-weight: 700;
}

.grabtn {
	border: 0;
    color: #fff;
    background: #71da65;
}

.photoLayout {
	margin-top: 50px;
}

.photolist {
	display: inline-block;
    width: 278px;
    margin: 0px 10px 20px 10px;
    font-size: 16px;
    float: left;
    max-height: 370px;
    border: 1px solid #dadada;
    border-radius: 10px;
}

.photolist-img {
    text-align: center;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.photolist-img img {
	width: 100%;
	height: 97%;	
}

.photoInfo {
	padding: 15px;
}

.photocm {
	text-align: right;
	color: #a2a2a2;
	font-size: 13px;
}

.photocontent textarea {
	resize: none;
	border: 1px solid #dadada;
	outline: 0;
	border-radius: 10px;
}

#preview img {
	width: 120px;
	height: 120px;
	margin: 10px;
}

.photoArticle {
	max-width: 1000px;
	height: 470px;	
	border: 1px solid #dadada;
	border-radius: 10px;
}

.photoImg {
	width: 450px;
	float: left;
}

.photoImg img {
	width: 400px;
	height: 350px;
	padding: 10px;
}

.photoArea {
	width: 440px;
	float: left;
	text-align: left;
}

.photoArea ul {
	margin: 15px;
}

.photoSubject {
	font-size: 28px;
	color: #71da65;
	font-weight: bold;
}

.photobtn {
	width: 49%;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 10px;
    color: #a2a2a2;
    font-size: 15px;
}

.photoContent {
	padding: 15px;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
	min-height: 70px;
}

.photoCreated {
	display: flex;
	justify-content: space-between;
}

.photoReplybtn {
	background: #71da65;
	border-radius: 10px;
	color: white;
	padding: 10px;
}

.photoReply input {
	margin: 0px 3px;
	padding: 3px 0px 3px 10px;
	width: 85%;
	border-radius: 10px;
	vertical-align: middle;
}