@charset "UTF-8";

.mypageBody {
	margin: 0px auto;
	max-width: 1080px;
}

.mypageLayout {
	margin: 70px auto;
	text-align: center;
}

.mypagemenu {
	margin: 50px auto;
	width: 600px;
}

.mypagemenu ul {
	border-bottom: 3px solid #dadada36;
}

.mypagemenu ul li {
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
}

.mypagemenu ul li:hover {
	display: inline-block;
	margin-right: 10px;
	border-collapse: 0;
	border-bottom: 3px solid #71da65;
}

.mypage {
	margin: 30px auto;
	width: 800px;
	border: 1px solid #71da65;
	padding: 15px;
}

.mypagetab {
	margin: 10px;
}

.mypagetab::after {
	display: block;
	content: "";
	clear: both;
}

.mypage .mypagetab p {
	font-size: 30px;
	font-weight: bold;
	float: left;
}

.mypagetab button {
	float: right;
}

.mypageLayout button {
    border: 0;
    background: none;
}

.mypagetab ul li {
	display: inline-block;
}

.mypagesub2 {
	background: #71da65;
	border-radius: 10px;
	color: white;
	font-weight: bold;
}

.mypagesub1 ul {	
	margin: 10px;
	padding: 10px;
}

.mypagesub1 li {
	display: inline-block;
	width: 23%;
	
}

.mypage1 {
	margin: 20px auto;
	width: 800px;
	padding: 15px;
}

.mypage1 p {
	font-size: 24px;
	float: left;
	font-weight: bold;
}

.mypage1 .mypagelist {
	border: 1px solid #dadada;
	border-radius: 10px;
	padding: 10px;
	height: 200px;
}

.mypage2 {
	padding: 30px;
	text-align: center;
	border: 1px solid #dadada;
	border-radius: 10px;
}

.mypage2 .mypagetab p {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.mypage2 .mypagetab select {
	float: right;
	outline: 0;
	border: 0;
	padding: 5px;
}

.mypage2 .mypagetab option:hover {
	background: #71da65;
}

.mypage2 .mypagelist ul li {
	display: inline-block;
	margin: 5px;
}

.mypage2 .pagenum {
	padding: 10px;
} 

.mypage2 button {
	border: 1px solid #dadada;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

.mypage3 .mypagetab p {
	font-size: 30px;
	font-weight: bold;
}

.qnatab ul {
	position: relative;
    display: flex;
    background-color: #fafafa;
}

.qnatab ul li {
	flex: 1;
}

.qnatab ul li a {
	font-weight: 700;
    line-height: 1.54;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    letter-spacing: -0.0406rem;
    color: #999;
}


.qnatab ul li.active a {
	color: #111;
    border: 1px solid #222;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.mypetlist {
	margin-bottom: 50px;
}


.mypetlist::after {
	content: "";
	display: block;
	clear: both;
}

.petlist {
	border-radius: 10px;
	margin: 7px;
	border: 1px solid #c6f3c0;
	font-weight: bold;
	width: 250px;
	float: left;
}
.petlist ul li {
	margin: 10px;
}

.petphoto img {
	width: 200px;
	vertical-align: middle;
	margin: 20px;
	border-radius: 100px;
	border: 3px solid #71da65;
}

.petinfo {
	text-align: center;
	margin: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	color: #127d17;
}

.petbtn1 button {
	padding: 10px;
	border: 1px solid #dadada;
	border-radius: 10px;
	float: none;
	font-size: 16px;
}

.petbtn2 button {
	float: none;
	border: 1px solid #71da65;
	color: #71da65;
	font-size: 16px;
	padding: 10px 50px 10px 50px;
}


.petbtn2 button:hover {
	color: #fff;
	background: #71da65;
	font-weight: bold;
}

#petModal1, #petModal2 {
	max-width: 700px;
}

.modalbtn {
	float: right;
}

.modal-top {
	padding-bottom: 5px;
    border-bottom: 2px solid #222;
    display: flex;
    justify-content: space-between;
}

.petModal-content img {
	width: 200px;
	height: 200px;
	vertical-align: middle;
}

.petModal-content ul li {
	margin: 10px;
	display: inline-block;
	font-size: 15px;
}

.petModal-content .td {
	width: 80px;
}

.petModal-content select {
	height: 50px;
	padding: 5px;
	border: 1px solid #dadada;
	border-radius: 10px;
	margin: 5px;
}

.petModal-content input {
	height: 20px;
	border: 1px solid #dadada;
	border-radius: 10px;
	vertical-align: middle;
	margin: 5px;
	padding: 10px;
}

.petModal-content textarea {
	border: 1px solid #dadada;
	border-radius: 10px;
	margin: 5px;
	resize: none;
	padding: 10px;
	height: 50px;
	width: 450px;
	vertical-align: middle;
}

.mypoint {
	margin-top: 20px;
	border: 1px solid #dadada;
	display: flex; 
	align-items: stretch;
}

.mypoint ul {
	display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}

.mypoint ul li {
	font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.0406rem;
}

.mypoint .td span {
	font-size: 19px;
	font-weight: 700;
}

.settingdate {
	margin-top: 20px;
	padding: 15px 30px;
	border-radius: 10px;
	background: #f1f1f1;
	display: flex;
}

.settingdate input {
	font-size: 12px;
    box-sizing: border-box;
    width: 160px;
    height: 35px;
    padding: 0 15px;
    background-color: #fff;
    line-height: 35px;
    border: 1px solid #dadada;
}

.settingbtn button {
	font-size: 12px;
    font-weight: 700;
    width: 70px;
    height: 35px;
    letter-spacing: -0.0344rem;
    border-radius: 17.5px;
    border: 1px solid #eee;
    background-color: #fff;
}

.settingbtn button.active {
	color: #fff;
    background-color: #71da65;
}

.datebox {
	padding-left: 50px;
}

#searchbtn {
	background: #71da65;
	color: #fff;
	height: 30px;
    width: 70px;
    margin-left: 10px;
    vertical-align: middle;
}

.pointlist-top {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;    
	margin-bottom: 12px;
}

.pointlist-top .list-sort ul {
	display: flex;
}

.pointlist-top .list-sort ul li {
	font-weight: 700;
    margin-left: 20px;
    color: #999;
}

.pointlist-top .list-sort ul li .selected {
    color: #111;
}

.listtable1 {
	border-top: 1px solid #222;
	width: 100%;
}

.listtable1 th, .listtable1 td {
	padding: 20px 25px;
    vertical-align: top;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}
