<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardManage">

	<sql id="where-list">
		<choose>
			<when test="condition=='userId' ">
				INSTR(userId, #{keyword}) &gt;= 1
			</when>
			<when test="condition=='created' ">
				( TO_CHAR(created, 'YYYY-MM-DD') = #{keyword}
					OR TO_CHAR(created, 'YYYYMMDD') = #{keyword} )
			</when>
			<otherwise>
				INSTR(#{condition}, #{keyword}) &gt;= 1
			</otherwise>
		</choose>
	</sql>
	
	<!-- 게시물 통합관리 -->
	<select id="listArticle" parameterType="map" resultType="com.sp.catdog.admin.boardManage.Board">
		SELECT * FROM
		(
			SELECT boardType, freeNum as num, freeSubject as subject, freeCreated as created, userId FROM comFree
			UNION ALL
			SELECT boardType, dealNum as num, dealSubject as subject, dealCreated as created, userId FROM comDeal
			UNION ALL
			SELECT boardType, photoNum as num, photoSubject as subject, photoCreated as created, userId FROM comPhoto
			UNION ALL
			SELECT boardType, vidNum as num, vidSubject as subject, vidCreated as created, userId FROM vetVideo
		)
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="boardType!='' ">
				AND boardType=#{boardType, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY created DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="articleCount" parameterType="map" resultType="Integer">
		SELECT COUNT(boardType)
		FROM(
			SELECT boardType, freeNum as num, freeSubject as subject, freeCreated as created, userId FROM comFree
			UNION ALL
			SELECT boardType, dealNum as num, dealSubject as subject, dealCreated as created, userId FROM comDeal
			UNION ALL
			SELECT boardType, photoNum as num, photoSubject as subject, photoCreated as created, userId FROM comPhoto
			UNION ALL
			SELECT boardType, vidNum as num, vidSubject as subject, vidCreated as created, userId FROM vetVideo
		)
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="boardType!='' ">
				AND boardType=#{boardType, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="listBoardType" resultType="com.sp.catdog.admin.boardManage.Board">
		SELECT DISTINCT(boardType)
		FROM(
			SELECT boardType FROM comFree
			UNION ALL
			SELECT boardType FROM comDeal
			UNION ALL
			SELECT boardType FROM comPhoto
			UNION ALL
			SELECT boardType FROM vetVideo
		)
	</select>
	
	<delete id="deleteArticle" parameterType="map">
		DELETE FROM ${tableName} WHERE ${numName}=#{num}
	</delete>
	<!-- 댓글 통합관리 -->
	<select id="listReply" parameterType="map" resultType="com.sp.catdog.admin.boardManage.Board">
		SELECT * FROM(
			SELECT boardType, r.freeNum AS num, freeReplyNum AS replyNum, r.userId, freeReplyCreated AS created, freeReplyContent AS content
			FROM comFreeReply r
			JOIN comFree f ON f.freeNum=r.freeNum
			UNION ALL
			SELECT boardType, r.dealNum AS num, dealReplyNum AS replyNum, r.userId, dealReplyCreated AS created, dealReplyContent AS content
			FROM comDealReply r
			JOIN comDeal d ON d.dealNum=r.dealNum
			UNION ALL
			SELECT boardType, r.photoNum AS num, photoReplyNum AS replyNum, r.userId, photoReplyCreated AS created, photoReplyContent AS content
			FROM comPhotoReply r
			JOIN comPhoto p ON p.photoNum=r.photoNum
			UNION ALL
			SELECT boardType, r.vidNum AS num, vidReplyNum AS replyNum, r.userId, vidReplyCreated AS created, vidReplyContent AS content
			FROM vetVidReply r
			JOIN vetVideo v ON v.vidNum=r.vidNum
		)
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="boardType!='' ">
				AND boardType=#{boardType, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY created DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(boardType),0) 
		FROM(
			SELECT boardType, r.freeNum AS num, freeReplyNum AS replyNum, r.userId, freeReplyCreated AS created, freeReplyContent AS content
			FROM comFreeReply r
			JOIN comFree f ON f.freeNum=r.freeNum
			UNION ALL
			SELECT boardType, r.dealNum AS num, dealReplyNum AS replyNum, r.userId, dealReplyCreated AS created, dealReplyContent AS content
			FROM comDealReply r
			JOIN comDeal d ON d.dealNum=r.dealNum
			UNION ALL
			SELECT boardType, r.photoNum AS num, photoReplyNum AS replyNum, r.userId, photoReplyCreated AS created, photoReplyContent AS content
			FROM comPhotoReply r
			JOIN comPhoto p ON p.photoNum=r.photoNum
			UNION ALL
			SELECT boardType, r.vidNum AS num, vidReplyNum AS replyNum, r.userId, vidReplyCreated AS created, vidReplyContent AS content
			FROM vetVidReply r
			JOIN vetVideo v ON v.vidNum=r.vidNum
		)
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="boardType!='' ">
				AND boardType=#{boardType, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<!-- 신고 댓글 관리 -->
	<select id="listReplyReport" parameterType="map" resultType="com.sp.catdog.admin.boardManage.Board">
		SELECT num, boardType, articleNum, replyNum, userId, reportCode, memo, report_date, report_id
		FROM replyReport
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="boardType!='' ">
				AND boardType=#{boardType, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY report_date DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="replyReportCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(boardType),0) 
		FROM
		(
			SELECT num, boardType, articleNum, replyNum, userId, reportCode, memo, report_date, report_id
			FROM replyReport
		)
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="boardType!='' ">
				AND boardType=#{boardType, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="readReplyReport" parameterType="map" resultType="com.sp.catdog.admin.boardManage.Board">
		SELECT * FROM
		(
			SELECT r.num, r.boardType, articleNum, r.replyNum, r.userId, reportCode, memo, report_date, report_id, 
						freeReplyContent AS content, freeReplyCreated AS created
			FROM replyReport r
			JOIN comFreeReply f ON f.freeReplyNum=r.replyNum
			UNION ALL
			SELECT r.num, r.boardType, articleNum, r.replyNum, r.userId, reportCode, memo, report_date, report_id, 
						dealReplyContent AS content, dealReplyCreated AS created
			FROM replyReport r
			JOIN comdealReply f ON f.dealReplyNum=r.replyNum
			
			UNION ALL
			SELECT r.num, r.boardType, articleNum, r.replyNum, r.userId, reportCode, memo, report_date, report_id, 
						photoReplyContent AS content, photoReplyCreated AS created
			FROM replyReport r
			JOIN comPhotoReply f ON f.photoReplyNum=r.replyNum
			
			UNION ALL
			SELECT r.num, r.boardType, articleNum, r.replyNum, r.userId, reportCode, memo, report_date, report_id, 
						vidReplyContent AS content, vidReplyCreated AS created
			FROM replyReport r
			JOIN vetVidReply f ON f.vidReplyNum=r.replyNum
		)
		WHERE num=#{num}
	</select>
	
	<!-- 게시판 통계 -->
	<select id="listFreeSection" resultType="com.sp.catdog.admin.boardManage.Analysis">
		with board as (
		    select to_date(freeCreated, 'YYYY-MM-DD') AS created
		    FROM comFree
		)
<![CDATA[
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-7, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-7 AND created > to_date(sysdate, 'YYYY-MM-DD')-8
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-6 AND created > to_date(sysdate, 'YYYY-MM-DD')-7
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-5 AND created > to_date(sysdate, 'YYYY-MM-DD')-6
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-4 AND created > to_date(sysdate, 'YYYY-MM-DD')-5
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-3 AND created > to_date(sysdate, 'YYYY-MM-DD')-4
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-2 AND created > to_date(sysdate, 'YYYY-MM-DD')-3
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-1 AND created > to_date(sysdate, 'YYYY-MM-DD')-2
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD') AND created > to_date(sysdate, 'YYYY-MM-DD')-1
]]>
	</select>
	<select id="listMissSection" resultType="com.sp.catdog.admin.boardManage.Analysis">
		with board as (
		    select to_date(missCreated, 'YYYY-MM-DD') AS created
		    FROM comMiss
		)
<![CDATA[
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-7, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-7 AND created > to_date(sysdate, 'YYYY-MM-DD')-8
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-6 AND created > to_date(sysdate, 'YYYY-MM-DD')-7
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-5 AND created > to_date(sysdate, 'YYYY-MM-DD')-6
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-4 AND created > to_date(sysdate, 'YYYY-MM-DD')-5
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-3 AND created > to_date(sysdate, 'YYYY-MM-DD')-4
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-2 AND created > to_date(sysdate, 'YYYY-MM-DD')-3
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-1 AND created > to_date(sysdate, 'YYYY-MM-DD')-2
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD') AND created > to_date(sysdate, 'YYYY-MM-DD')-1
]]>
	</select>
	<select id="listDealSection" resultType="com.sp.catdog.admin.boardManage.Analysis">
		with board as (
		    select to_date(dealCreated, 'YYYY-MM-DD') AS created
		    FROM comDeal
		)
<![CDATA[
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-7, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-7 AND created > to_date(sysdate, 'YYYY-MM-DD')-8
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-6 AND created > to_date(sysdate, 'YYYY-MM-DD')-7
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-5 AND created > to_date(sysdate, 'YYYY-MM-DD')-6
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-4 AND created > to_date(sysdate, 'YYYY-MM-DD')-5
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-3 AND created > to_date(sysdate, 'YYYY-MM-DD')-4
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-2 AND created > to_date(sysdate, 'YYYY-MM-DD')-3
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-1 AND created > to_date(sysdate, 'YYYY-MM-DD')-2
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD') AND created > to_date(sysdate, 'YYYY-MM-DD')-1
]]>
	</select>
	
	<select id="listPhotoSection" resultType="com.sp.catdog.admin.boardManage.Analysis">
		with board as (
		    select to_date(photoCreated, 'YYYY-MM-DD') AS created
		    FROM comPhoto
		)
<![CDATA[
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-7, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-7 AND created > to_date(sysdate, 'YYYY-MM-DD')-8
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-6 AND created > to_date(sysdate, 'YYYY-MM-DD')-7
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-5 AND created > to_date(sysdate, 'YYYY-MM-DD')-6
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-4 AND created > to_date(sysdate, 'YYYY-MM-DD')-5
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-3 AND created > to_date(sysdate, 'YYYY-MM-DD')-4
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-2 AND created > to_date(sysdate, 'YYYY-MM-DD')-3
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-1 AND created > to_date(sysdate, 'YYYY-MM-DD')-2
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD') AND created > to_date(sysdate, 'YYYY-MM-DD')-1
]]>
	</select>
	
	<select id="listVideoSection" resultType="com.sp.catdog.admin.boardManage.Analysis">
		with board as (
		    select to_date(vidCreated, 'YYYY-MM-DD') AS created
		    FROM vetVideo
		)
<![CDATA[
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-7, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-7 AND created > to_date(sysdate, 'YYYY-MM-DD')-8
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-6 AND created > to_date(sysdate, 'YYYY-MM-DD')-7
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-5 AND created > to_date(sysdate, 'YYYY-MM-DD')-6
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-4 AND created > to_date(sysdate, 'YYYY-MM-DD')-5
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-3 AND created > to_date(sysdate, 'YYYY-MM-DD')-4
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-2 AND created > to_date(sysdate, 'YYYY-MM-DD')-3
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD')-1 AND created > to_date(sysdate, 'YYYY-MM-DD')-2
		UNION ALL
		select TO_CHAR(TO_DATE(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') section, count(*) count from board 
		where created <= to_date(sysdate, 'YYYY-MM-DD') AND created > to_date(sysdate, 'YYYY-MM-DD')-1
]]>
	</select>
	
	<select id="boardAgeSection" resultType="com.sp.catdog.admin.boardManage.Analysis">
		WITH  memberAge AS (
		    SELECT c.userId, TRUNC(MONTHS_BETWEEN(SYSDATE, userBirth)/12) age
		    FROM comMember c
            JOIN comFree f ON f.userId=c.userId
            UNION ALL
            SELECT c.userId, TRUNC(MONTHS_BETWEEN(SYSDATE, userBirth)/12) age
		    FROM comMember c
            JOIN comPhoto f ON f.userId=c.userId
            UNION ALL
            SELECT c.userId, TRUNC(MONTHS_BETWEEN(SYSDATE, userBirth)/12) age
		    FROM comMember c
            JOIN comDeal f ON f.userId=c.userId
            UNION ALL
            SELECT c.userId, TRUNC(MONTHS_BETWEEN(SYSDATE, userBirth)/12) age
		    FROM comMember c
            JOIN comMiss f ON f.userId=c.userId
		)
<![CDATA[
        SELECT '기타' section, COUNT(*) count FROM memberAge WHERE age<10 OR age>70
        UNION ALL
		SELECT '10대' section, COUNT(*) count FROM memberAge WHERE age>=10 AND age<20
		UNION ALL
		SELECT '20대' section, COUNT(*) count FROM memberAge WHERE age>=20 AND age<30
		UNION ALL
		SELECT '30대' section, COUNT(*) count FROM memberAge WHERE age>=30 AND age<40
		UNION ALL
		SELECT '40대' section, COUNT(*) count FROM memberAge WHERE age>=40 AND age<50
		UNION ALL
		SELECT '50대' section, COUNT(*) count FROM memberAge WHERE age>=50 AND age<60
		UNION ALL
		SELECT '60대' section, COUNT(*) count FROM memberAge WHERE age>=60 AND age<70
]]>
	</select>
</mapper>