<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buyer">

<select id="dataCount" parameterType="map" resultType="Integer">
	select NVL(count(*),0) from product
	<choose>
			<when test="gubun=='dog'">
			   WHERE prdPet=1
			</when>
			<otherwise>
			   where prdPet=2
			</otherwise>
	</choose>
</select>

<select id="listBuyer" parameterType="map" resultType="com.sp.catdog.buyer.Buyer">
		SELECT p.prdNum, prdName, prdPrice, prdHitCount, imgFilename
		FROM product p
		LEFT OUTER JOIN prdImage i ON p.prdNum = i.prdNum
		<choose>
		
			<when test="gubun=='dog'">
			   WHERE prdPet=1
			</when>
			<otherwise>
			   where prdPet=2
			</otherwise>
		</choose>
		ORDER BY prdNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
		
 </select>
 
<select id="readBuyer" parameterType="Integer" resultType="com.sp.catdog.buyer.Buyer">
	SELECT p.prdNum,prdPrice, prdName, prdIntro, prdContent, prdDisCount,
	 prdShip, prdPoint, prdPet, PrdHitCount,prdCreated,userId,imgFilename,
	 (prdPrice*((100-prdDisCount)/100)) price
	From product p
	LEFT OUTER JOIN prdImage i ON p.prdNum = i.prdNum
	WHERE p.prdNum=#{prdNum}	
</select>

<update id="prdHitCount" parameterType="Integer">
	UPDATE product SET prdHitCount=prdHitCount+1 WHERE prdNum = #{prdNum}
</update>


</mapper>