<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String" resultType="com.sp.catdog.member.Member">
		SELECT userNum, userId, userNick, userName, userPwd, userCreated, userUpdate, 
				userType, userReported, userLast, userEnabled
		FROM member1
		WHERE userId=#{userId}
	</select>
	
	<update id="updateLastLogin" parameterType="String">
		UPDATE member1 SET userLast=SYSDATE WHERE userId=#{userId}
	</update>
	
	<select id="loginMemberState" parameterType="String" resultType="com.sp.catdog.member.Member">
		SELECT m.userId, memo, userEnabled
		FROM memberState m
		JOIN member1 m1 ON m1.userId=m.userId
		WHERE m.userId=#{userId} 
	</select>
</mapper>